<header class="brand-name">
  <div class="container">
    <app-search></app-search>
    <img
      routerLink="/"
      class="img1"
      src="/favicon.ico"
      alt="logo"
      aria-hidden="true"
    />
    <div class="stack">
      <button class="b1" title="Profile" routerLink="/profile">
        <img src="assets/profile.svg" />
      </button>
      <button class="b1" title="LogIn" routerLink="/login">Log In</button>
      <button class="b1" title="Favorites" routerLink="/favorites">
        <img src="assets/heart.svg" />
      </button>
      <button class="b1" title="Shopping Cart" routerLink="/cart">
        <img src="assets/cart.svg" />
      </button>
    </div>
  </div>
</header>
