<header class="brand-name">
  <div class="container">
    <app-search (search)="search($event)"> </app-search>
    <img
      routerLink="/"
      class="img1"
      src="assets/store.svg"
      width="40px"
      alt="logo"
      aria-hidden="true"
    />
    <div class="stack">
      <button class="b1" title="Profile" routerLink="/profile">
        <img src="assets/profile.svg" />
      </button>
      <ng-container *ngIf="isLoggedIn; else loginButton">
        <button class="b1" (click)="openLogoutConfirmationDialog()">
          Log Out
        </button>
      </ng-container>
      <ng-template #loginButton>
        <button class="b1" title="LogIn" routerLink="/login">Log In</button>
      </ng-template>
      <!--      <button class="b1" title="LogIn" routerLink="/login">Log In</button>-->
      <button class="b1" title="Favorites" routerLink="/favorites">
        <img src="assets/heart.svg" />
      </button>
      <button class="b1" title="Shopping Cart" routerLink="/cart">
        <img src="assets/cart.svg" />
      </button>
    </div>
  </div>
</header>
