<div>
  <app-header></app-header>
  <div class="del">
    <h2>Input your information here</h2>
    <form (ngSubmit)="saveDeliveryInfo()">
      <div>
        <label for="address1">Address line 1: </label>
        <input type="text" id="address1" name="address1" [(ngModel)]="deliveryInfo.address1" required />
      </div>
      <div>
        <label for="address2">Address line 2: </label>
        <input type="text" id="address2" name="address2" [(ngModel)]="deliveryInfo.address2" required />
      </div>
      <div>
        <label for="address3">Address line 3: </label>
        <input type="text" id="address3" name="address3" [(ngModel)]="deliveryInfo.address3" required />
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
