<div>
  <app-header></app-header>
  <div class="del">
    <h2>Input your information here</h2>
    <form>
      <div>

        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname" required>
      </div>
      <div>
        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname" required>
      </div>
      <div>
        <label for="phone">Phone Number: </label>
        <input type="text" id="phone" name="phone" required>
      </div>
      <div>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" required>
      </div>
      <div>
        <label for="address1">Address line 1: </label>
        <input type="text" id="address1" name="address1" required>
      </div>
      <div>
        <label for="address2">Address line 2: </label>
        <input type="text" id="address2" name="address2" required>
      </div>
      <div>
        <label for="address3">Address line 3: </label>
        <input type="text" id="address3" name="address3" required>
      </div>


    </form>
  </div>
</div>
