<div *ngFor="let item of cart.items" class="card">
  <div class="row">
    <img/>
    <p>{{ item.products.title }}</p>
    <p>{{ item.products.price | currency:'EUR':'symbol':'1.2-2'  }}</p>
    <div>
      <button class="del" (click)="removeItem(item.products.id)">
        <img src="assets/delete.svg">
      </button>
    </div>
  </div>
  <div class="end">
    <button (click)="changeQuantity(item.products.id, -1)">-</button>
    <p>{{ item.quantity }}</p>
    <button (click)="changeQuantity(item.products.id, 1)">+</button>

  </div>


</div>
