.card{
  background: #888888;
  padding: 10px;
  margin: 5px;


}
.row{
  display: flex;
  justify-content: space-between;
}
.end{
  display: flex;
  justify-content: flex-end;
}

.del{
  border: none;
  background-color:white;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.del:hover{
  border: 1px solid #888;
  background-color: red;
}
