<div>
  <app-header></app-header>
  <div *ngIf="getNumberOfItems() > 0">
    <button class="b1" routerLink="/delivery">
      <img src="assets/shipping.svg" />
      <div  *ngIf="!deliveryInfo">Choose delivery</div>
      <div class="delivery-details" *ngIf="deliveryInfo">
        <p>Address: {{ deliveryInfo.address1 }}</p>
      </div>
      <img class="img1" src="assets/arrow_forward.svg" />
    </button>
  </div>

  <div class="cart">
    <h2>Review Cart</h2>
    <div *ngIf="getNumberOfItems() === 0">
      <p>CART IS EMPTY</p>
      <p>You need to add items in your cart</p>
    </div>
    <div *ngIf="getNumberOfItems() > 0">
      <button (click)="openDialog()" class="b2">Empty Cart</button>
      <button class="b2" (click)="genPDF()">Print</button>
    </div>
    <div class="printable">

      <div>
        <app-prduct-cart [cart]="cart"></app-prduct-cart>
      </div>

      <div *ngIf="getNumberOfItems() > 0" class="summary">
        <div class="row">
          <p>Cart Summery</p>
          <p>{{ getNumberOfItems() }}</p>
        </div>
        <div class="row">
          <p>Cart total</p>
          <p>{{ getCartTotalPrice() | currency: "EUR" : "symbol" : "1.2-2" }}</p>
        </div>
        <div class="row">
          <p>Service Fee</p>
          <p>€2</p>
        </div>
        <div class="row">
          <p>Delivery Fee</p>
          <p>{{ getDeliveryFee() | currency: "EUR" : "symbol" : "1.2-2" }}</p>
        </div>
        <div class="row">
          <p>Total (estimative)</p>
          <p>{{ getTotalPrice() | currency: "EUR" : "symbol" : "1.2-2" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
