.container {
  margin: auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.l1 {
  margin-right: 40px;
}

.l2 {
  margin-right: 50px;
}

.l3 {
  margin-right: 20px;
}
.title {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}
.row {
  display: flex;
  justify-content: center;
}

.eye {
  width: 30px;
  height: 20px;
}
button {
  margin-top: 30px;
  background-color: #4caf50;
  display: flex;
  align-self: center;
  justify-content: center;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: #45a049;
}
